.DS_Store
._.DS_Store
/node_modules
/public/hot
/public/images/*.jpg
/public/storage
/public/images/*
/storage/*.key
/storage/images/*
/.idea
/.vagrant
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env


